@model Submission
@{
    int questionNumber = (int)ViewData["QuestionNumber"]!;
}
<form action="">
    <input type="text">
    <h2>Title</h2>
    <span>@Model.Questions[questionNumber]</span>
    @for (int i = 0; i < Model.Questions[questionNumber].Answers.Count; i++)
    {
        <div class="form-check">
            <input class="form-check-input" type="radio" asp="ChosenAnswer"
                value="@Model.Questions[questionNumber].Answers[i]" />
            <label class="form-check-label">
                @Model.Questions[questionNumber].Answers[i]
            </label>
        </div>
    }
    <button>Submit and go next</button>
</form>